
<div class="page-width">
  <div class="page-width container-slide-page-custom">
    {% for block in section.blocks %}
      <div class="collection-slide-dude">
        <div class="slide-page-custom">
          {% if block.settings.image1 %}
            <figure class="custom-page-figure">
              <img
                srcset="
                  {%- if block.settings.image1.width >= 165 -%}{{ block.settings.image1 | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if block.settings.image1.width >= 360 -%}{{ block.settings.image1 | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if block.settings.image1.width >= 533 -%}{{ block.settings.image1 | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if block.settings.image1.width >= 720 -%}{{ block.settings.image1 | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if block.settings.image1.width >= 940 -%}{{ block.settings.image1 | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if block.settings.image1.width >= 1066 -%}{{ block.settings.image1 | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ block.settings.image1 | image_url }} {{ block.settings.image1.width }}w
                "
                src="{{ block.settings.image1 | image_url: width: 533 }}"
                {% comment %} sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)" {% endcomment %}
                alt="{{ block.settings.image1.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}
                  loading="lazy"
                {% endunless %}
                width="{{ block.settings.image1.width }}"
                height="{{ block.settings.image1.height }}"
              >
            </figure>
          {% endif %}
  
          {% if block.settings.image2 %}
            <figure class="custom-page-figure">
              <img
                srcset="
                  {%- if block.settings.image2.width >= 165 -%}{{ block.settings.image2 | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if block.settings.image2.width >= 360 -%}{{ block.settings.image2 | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if block.settings.image2.width >= 533 -%}{{ block.settings.image2 | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if block.settings.image2.width >= 720 -%}{{ block.settings.image2 | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if block.settings.image2.width >= 940 -%}{{ block.settings.image2 | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if block.settings.image2.width >= 1066 -%}{{ block.settings.image2 | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ block.settings.image2 | image_url }} {{ block.settings.image2.width }}w
                "
                src="{{ block.settings.image2 | image_url: width: 533 }}"
                {% comment %} sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)" {% endcomment %}
                alt="{{ block.settings.image2.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}
                  loading="lazy"
                {% endunless %}
                width="{{ block.settings.image2.width }}"
                height="{{ block.settings.image2.height }}"
              >
            </figure>
          {% endif %}
  
          {% if block.settings.image3 %}
            <figure class="custom-page-figure">
              <img
                srcset="
                  {%- if block.settings.image3.width >= 165 -%}{{ block.settings.image3 | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if block.settings.image3.width >= 360 -%}{{ block.settings.image3 | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if block.settings.image3.width >= 533 -%}{{ block.settings.image3 | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if block.settings.image3.width >= 720 -%}{{ block.settings.image3 | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if block.settings.image3.width >= 940 -%}{{ block.settings.image3 | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if block.settings.image3.width >= 1066 -%}{{ block.settings.image3 | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ block.settings.image3 | image_url }} {{ block.settings.image3.width }}w
                "
                src="{{ block.settings.image3 | image_url: width: 533 }}"
                {% comment %} sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)" {% endcomment %}
                alt="{{ block.settings.image3.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}
                  loading="lazy"
                {% endunless %}
                width="{{ block.settings.image3.width }}"
                height="{{ block.settings.image3.height }}"
              >
            </figure>
          {% endif %}
  
          {% if block.settings.image4 %}
            <figure class="custom-page-figure">
              <img
                srcset="
                  {%- if block.settings.image4.width >= 165 -%}{{ block.settings.image4 | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if block.settings.image4.width >= 360 -%}{{ block.settings.image4 | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if block.settings.image4.width >= 533 -%}{{ block.settings.image4 | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if block.settings.image4.width >= 720 -%}{{ block.settings.image4 | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if block.settings.image4.width >= 940 -%}{{ block.settings.image4 | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if block.settings.image4.width >= 1066 -%}{{ block.settings.image4 | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ block.settings.image4 | image_url }} {{ block.settings.image4.width }}w
                "
                src="{{ block.settings.image4 | image_url: width: 533 }}"
                {% comment %} sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)" {% endcomment %}
                alt="{{ block.settings.image4.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}
                  loading="lazy"
                {% endunless %}
                width="{{ block.settings.image4.width }}"
                height="{{ block.settings.image4.height }}"
              >
            </figure>
          {% endif %}
        </div>
        <div class="collection-slide-dude__content">
          <h2 class="page-title {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            {%- if block.settings.title != blank -%}
              {{ block.settings.title | escape }}
            {%- endif -%}
          </h2>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Add More Block",
  "tag": "section",
  "class": "section",
  "settings": [
  ],
  "blocks": [
    {
      "type": "collections",
      "name": "Collections",
      "settings": [
        {
          "type": "header",
          "content": "Collection title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "header",
          "content": "Image Collection"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image 2"
        },
        {
          "type": "image_picker",
          "id": "image3",
          "label": "Image 3"
        },
        {
          "type": "image_picker",
          "id": "image4",
          "label": "Image 4"
        }
      ]
    }
  ],
  "presets": [
		{
			"name": {
				"en": "Add More Block"
			},
			"category": {
				"en": "Main"
			}
		}
	]
}
{% endschema %}