<div class="page-width">
  <h1 class="main-page-title page-title h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}" style="text-align: center;">
    {{ page.title | escape }}
  </h1>

  <div class="offline-store">
    {% for block in section.blocks %}
      {% if block.type == 'store' %}
        <div class="store">
          <div class="store__inner">
            <figure class="custom-page-figure" style="text-align: center;">
              <img
                srcset="
                  {%- if block.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if block.settings.image.width >= 533 -%}{{ block.settings.image | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if block.settings.image.width >= 940 -%}{{ block.settings.image | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if block.settings.image.width >= 1066 -%}{{ block.settings.image | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ block.settings.image | image_url }} {{ block.settings.image.width }}w
                "
                src="{{ block.settings.image | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ block.settings.image.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}
                  loading="lazy"
                {% endunless %}
                width="{{ block.settings.image.width }}"
                height="{{ block.settings.image.height }}"
              >
            </figure>
            <div class="store__content">
              <h2 class="store__heading">{{ block.settings.heading }}</h2>
              <div class="store__text rte">
                {{ block.settings.content }}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="page-width page-width--narrow">
    <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {{ page.content }}
    </div>
  </div>
</div>

<script>
  const allModal = document.querySelectorAll('.modal-image-slider-page');
  window.onclick = function(event) {
    allModal.forEach(modal => {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    });
  } 
</script>

{% schema %}
{
  "name": "Custom Page",
  "tag": "section",
  "class": "section",
  "settings": [
  ],
  "blocks": [
    {
      "type": "store",
      "name": "Store",
      "settings": [
        {
          "type": "header",
          "content": "Heading"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}